venv
\venv
/venv
myvenv
/myvenv
\myvenv

salamanet-py310
/salamanet-py310
\salamanet-py310__pycache__/
*.pyc
*.joblib
*.bak
models/
*.csv
*.txt

__pycache__/
*.pyc
*.joblib
*.bak
models/
*.csv
*.txt

__pycache__/
*.pyc
*.joblib
*.bak
models/
*.csv
*.txt

